/*Carousel*/
.carousel1{
    width: 75%;
    height: 150px;
    margin: auto;
    transform: translate(0, 120%);
}

.carousel1-item{
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
    color: black;
    font-size: 15px;

    padding: 10px;
    margin: 10px;
}
