.block{
    height: 250px;

    background-color: white;
    border-radius: 10px;

    padding: 0;
    padding-bottom: 40px;

    margin: auto;
    margin-bottom: 20px;
}

.block-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
}

.block-content h1 {
    margin-top: -23px;
    font-weight: 700;
    font-size: 30px;
    color: orange;
}


.block-content p {
    text-align: justify;
    font-weight: 400;
}

.sub-title {
    font-size: 13px;
    font-weight: 800;
    color: gray;
}

.content-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: relative;
    background-size: cover;

    margin-bottom: -20px;

    height: 100%;
}

#image1 {
    background-image: url('./resources/img/xicani.jpg');
}

#image2 {
    background-image: url('./resources/img/arly.jpg');
}

.side-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
}

.side-content h1 {
    padding-left: 10px;
    font-size: 25px;
    font-weight: 700;
    color: orange;
}

.side-content p {
    padding-left: 10px;
    font-size: 10px;
    font-weight: 800;
    color: gray;
    margin-bottom: -4px;
}

#large-block {
    height: auto;
}
