body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'Montserrat', 'sans-serif';
    font-style: regular;
}


/*Any*/
.shadow {
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
}


.container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
}

.spacer {
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    background-color: orange;
}

/*Content*/
.main-block {
    padding: 0;
    margin: 0;

    height: 500px;

    margin-bottom: 20px;
}

.background-image {
    background-image: url('./resources/img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: relative;
    background-size: cover;
    /*filter: blur(2px);*/

    height: 500px;
}

.main-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    height: 500px;
    top: 0;
    text-align: center;
}

.main-content h1 {
    font-weight: 700;
    color: orange;
    font-size: 50px;
    margin-top: 200px;
}

.main-content p {
    color: white;
    font-size: 13px;
}

.callToAction {
    padding: 10px;
    background-color: rgba(0,0,0,0);
    height: 50px;
    color: orange;
    border-radius: 5px;
    border: 1px solid orange;
}

.slider {
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

.slider h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.allies img {
    margin: auto;
    padding: 0;
    width: 100px;
    height: 100px;

    border-radius: 10px;
}

/*Footer*/
footer {
    width: 100%;

    color: white;
    font-weight: 700;

    padding: 20px;
    margin: 0px;


    background-color: rgba(0,0,0,0.9);
}

iframe {
    width: 100%;
    height: 200px;
}

footer .title {
    font-size: 12px;
    text-align: center;
}

.col-sm-3 {
    margin: auto;
}

.footerInfo {
    font-size: 9px;
    text-align: center;
}

.footerInfo a img {
    width: 250px;
    height: 50px;
    margin-bottom: 5px;
}

.logos {
    text-align: center;
}

.logos a img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.col-sm-12 {
    font-size: 9px;
    text-align: center;
}

.modal{text-align: justify; display:block; opacity: 1   ; position: fixed; right: 0px; left: 0px; top: 0px; bottom: 0px; background-color: rgba(0,0,0,0.5); pointer-events: none; z-index: 9999; padding: 5px; webkit-transition: opacity .3s ease-out; -o-transition: opacity .3s ease-out; transition: opacity .3s ease-out; }
.modal > a:active {padding: 3px 5px 2px 5px; border-top: 1px solid #f26a00; }
.modal > div { border-radius: 10px; position: relative; top: -50%; color: #000; margin:auto; min-width:240px; max-width: 480px; padding: 5px 5px 5px 12px; margin-top: 30%; background-color: #fff;box-shadow: 0px 0px 110px 1px #000;}
.modal > div > div {margin: 0px 14px 14px 14px;}
.modal div div ul li {display: inline-block; padding: 5px; margin:30px;}
.modal div div ul li img {text-align: center;}
.closeModal {position: absolute; right: 0px; top: 0px; font-size:24px; margin: 6px 13px 0px 0px;}
#videoParalife:target {opacity: 1; pointer-events: auto; }
