/*Carousel*/
.carousel1{
    width: 75%;
    height: 150px;
    margin: auto;
    transform: translate(0, 120%);
}

.carousel1-item{
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
    color: black;
    font-size: 15px;
    border: 3px solid orange;

    padding: 10px;
    margin: 10px;
}

.carousel2{
    height: 300px;
    margin: auto;
    margin-bottom: 70px;
}

.carousel2-item{
    border-radius: 10px;
    height: 320px;
    color: black;
    font-size: 15px;

    padding: 10px;
    margin: 10px;
}
.carousel3{
    width: 100%;
    margin: auto;
}

.carousel3-item{
    height: 150px;
    border-radius: 10px;
    color: black;
    font-size: 15px;

    padding: 10px;
    margin: 10px;
}

.carousel4{
    width: 100%;
    margin: auto;
}

.carousel4-item{
    height: 180px;
    border-radius: 10px;
    color: black;
    font-size: 15px;

    padding: 10px;
    margin: 10px;

    text-align: center;
}

.carousel4-item .col-md-6 img{
    margin-left: 40px;
}
.carousel4-item p{
    margin-left: 40px;
}
